body {
    background-color: E3E1E1;
    font-family: sans-serif;
}

header {
    background-color: C4C4C4;
}


.main, .game, .punchline, .answer {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center ;
}

.game, .answer {
    background-color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
}

.answer {
    padding-bottom: 5%;
}

.answer textarea {
    resize: none;
    border-radius: 8px;
  }

.retour {
    width: 100%;
    border: solid ;
    border-color: black;
    border-width: 1px;
    border-radius: 8px;
    display: flex;
    justify-content: center ;
}

.neutral {
    background-color: lightyellow;
}

.goodanswer {
    background-color: lightgreen;
}

.badanswer {
    background-color: lightpink;
}